.header {
  width: 375px;
  height: 21.4rem;
  background-color: var(--moreLightGrayishBlue);
  border-bottom-left-radius: 10rem;

  .innerBackgroundImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center 3rem;
    background-size: 7.5rem;
    height: 100%;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      color: var(--darkGrayishBlue);
      margin-top: 4.7rem;
      margin-bottom: 0.3rem;
      font-size: 1.1rem;
    }

    p {
      color: var(--grayishBlue);
      font-size: 0.7rem;
      line-height: 1.2rem;
    }
  }

  @media only screen and (min-width: 600px) {
    width: 100vw;

    .innerBackgroundImage {
      background-size: 8rem;

      div {
        flex-direction: row;
      }

      h1 {
        margin-top: 5.3rem;
        font-size: 1.55rem;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }
}
