@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font: 700 18px "Fraunces", serif;
  border: none;
  transition: 0.4s;
}

body, #root, html {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 480px 280px 390px 280px 390px 540px 540px 130px 310px 355px 355px 340px 310px;
  gap: 0px 0px;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." ".";
  width: 340px;
}
main #header_orange_div {
  padding: 30px 20px;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main #header_orange_div nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  height: 280px;
  width: 298px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main #header_orange_div nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
main #header_orange_div nav ul li {
  text-align: center;
  font: 600 1rem "Barlow", sans-serif;
  color: hsl(232deg, 10%, 55%);
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
}
main #header_orange_div nav ul li:hover {
  background-color: hsl(51deg, 100%, 49%);
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
}
main #header_orange_div nav #pontinha {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 0;
  border-bottom: 25px solid white;
  position: absolute;
  left: 260px;
  top: -4%;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
}
main #header_orange_div header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #header_orange_div header #sunnyside_img {
  width: 115px;
}
main #header_orange_div header #menuicon_img {
  cursor: pointer;
}
main #header_orange_div h1 {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  margin: 80px 0;
}
main #header_orange_div #arrow_down {
  width: 35px;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}
main #egg_div {
  background-image: url(../../images/mobile/image-transform.jpg);
  background-size: cover;
}
main #cup_div {
  background-image: url(../../images/mobile/image-stand-out.jpg);
  background-size: cover;
}
main .infos_div {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .infos_div h2 {
  text-align: center;
  color: hsl(212deg, 27%, 19%);
  font-size: 1.6rem;
  font-weight: 900;
}
main .infos_div p {
  color: hsl(232deg, 10%, 55%);
  font: 600 0.9rem "Barlow", sans-serif;
  text-align: center;
  line-height: 24px;
}
main .infos_div .lernmore_button {
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
  color: hsl(212deg, 27%, 19%);
  font-size: 0.8rem;
  font-weight: 900;
  z-index: 1;
}
main .infos_div .lernmore_button::after {
  z-index: -1;
  position: absolute;
  bottom: -1px;
  left: -5px;
  content: "";
  background-color: #f0eaba;
  width: 115px;
  height: 8px;
  border-radius: 5px;
}
main .infos_div #second_lernmore_button::after {
  background-color: #f5caca;
}
main .image_infos_div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  color: hsl(198deg, 62%, 26%);
}
main .image_infos_div h2 {
  font-size: 1.5rem;
}
main .image_infos_div p {
  margin-bottom: 40px;
  text-align: center;
  font: 600 0.8rem "Barlow", sans-serif;
  line-height: 23px;
}
main #cereja_div {
  background-image: url(../../images/mobile/image-graphic-design.jpg);
  background-size: cover;
}
main #orange_div {
  background-image: url(../../images/mobile/image-photography.jpg);
  background-size: cover;
}
main #client_testimonials_title_div {
  margin: auto auto;
  color: hsl(210deg, 4%, 67%);
  letter-spacing: 4px;
}
main #client_testimonials_title_div h2 {
  font-size: 0.8rem;
}
main .client_testimonials_div {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .client_testimonials_div img {
  width: 65px;
  border-radius: 50%;
}
main .client_testimonials_div blockquote {
  text-align: center;
  color: hsl(213deg, 9%, 39%);
  font: 600 0.9rem "Barlow", sans-serif;
  line-height: 28px;
}
main .client_testimonials_div .person_infos_div {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .client_testimonials_div .testimonials_name {
  text-align: center;
  font-weight: 900;
  font-size: 0.9rem;
  color: hsl(212deg, 27%, 19%);
}
main .client_testimonials_div .testimonials_job {
  color: hsl(232deg, 10%, 55%);
  font: 600 0.7rem "Barlow", sans-serif;
}
main #grid_gallery_images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas: ". ." ". .";
}
main #grid_gallery_images img {
  width: 101%;
}
main footer {
  padding: 35px;
  background-color: #90D4C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
main footer #logosunnyside_footer {
  filter: invert(23%) sepia(81%) saturate(8000%) hue-rotate(152deg) brightness(65%) contrast(88%);
  width: 160px;
  cursor: pointer;
}
main footer #links_div {
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main footer #links_div p {
  text-align: center;
  font: 600 0.8rem "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.6352941176);
  filter: invert(23%) sepia(81%) saturate(8000%) hue-rotate(152deg) brightness(65%) contrast(88%);
  cursor: pointer;
}
main footer #socialmedia_div {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
main footer #socialmedia_div img {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
