.popoverPanel {
  position: absolute;
  background-color: var(--black);
  padding: 2.2rem 1.4rem;
  width: 100%;
  height: 500%;
  left: 0;
  top: 0;
  z-index: 1;

  .innerHeader {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 8.5rem;
    }
  }

  .menuItensBox {
    top: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
      font-family: 'josefin sans';
      color: var(--white);
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        padding-left: 0.3rem;
        text-decoration: underline;
      }
    }
  }
}
