.container {
  width: 20rem;
  height: 30rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter";

  padding: 1.5rem;

  -webkit-box-shadow: 7px 7px 0px 2px black;
  -moz-box-shadow: 7px 7px 0px 2px black;
  box-shadow: 7px 7px 0px 2px black;

  .illustration {
    width: 100%;
    border-radius: 1rem;
  }

  .tag {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #f5d04e;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    width: 5rem;

    .tagtext {
      color: black;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  .date {
    color: black;
    font-size: 0.8rem;
  }

  .title {
    margin-top: 1.5rem;
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: #f5d04e;
    }
  }

  .description {
    margin-top: 1.2rem;
    font-size: 0.8rem;
    color: gray;
  }

  .authorContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .author {
      color: black;
      font-weight: 900;
      font-size: 0.8rem;
    }

    .avatar {
      width: 2rem;
    }
  }
}
