/* Reset de estilos CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-align: left;
}

/* Define a box-sizing como border-box por padrão */
html > * {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
