.graphBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  p {
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.6;
    margin-top: 0.5rem;
  }
  .spanBox {
    display: flex;
    width: 1.88rem;
    border-radius: 4px;
    transition: 0.2s;
  }

  .amountPopover {
    opacity: 0;
    background-color: var(--brown-500);
    margin-bottom: 0.2rem;
    color: var(--white);
    padding: 0.2rem;
    border-radius: 4px;
    transition: 0.2s;
  }

  &:hover > .amountPopover {
    opacity: 1;
  }

  &:hover > .spanBox {
    opacity: 0.7;
  }
}
