.header {
  width: 22rem;
  height: 38rem;
  padding: 2.2rem 1.4rem;
  background-image: url('../../images/mobile/image-hero.jpg');
  background-size: contain;
  position: relative;

  .innerHeader {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 8.5rem;
    }
  }

  .titleBox {
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--white);

    h1 {
      font-size: 2.4rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: var(--white);
      line-height: 2.2rem;
    }
  }

  @media (min-width: 780px) {
    width: 100%;
    padding: 3.8rem 11%;
    background-image: url('../../images/desktop/image-hero.jpg');
    background-position: center;
    background-size: cover;

    .innerHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.2rem;
      }

      .openMenuButton {
        display: none;
      }
    }

    .titleBox {
      left: 28rem;
      top: 21.5rem;
      width: 37.5rem;
      padding: 2rem;

      h1 {
        font-size: 4.4rem;
        line-height: 4.2rem;
      }
    }
  }
}
